#right-panel {
	font-family: 'Roboto','sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

#right-panel select, #right-panel input {
	font-size: 15px;
}

#right-panel select {
	width: 100%;
}

#right-panel i {
	font-size: 12px;
}
html, body {
	height: 100%;
	margin: 0;
	background-color: rgba(52, 58, 64, 0.705);
}
#map {
	height: 100%;
	float: left;
	width: 70%;
	height: 100%;
}
#right-panel {
	margin: 20px;
	border-width: 2px;
	width: 20%;
	height: 400px;
	float: left;
	text-align: left;
	padding-top: 0;
	color: #FFFFFF;
}
#directions-panel {
	margin-top: 10px;
	color: white;
	background-color: gray;
	padding: 10px;
	overflow: auto;
	height: auto;
	min-height: 180px;
	max-height: 360px;
	border-radius: 5px;
}
.buttonw {
	width: 100%;
}
